#work1{
    font-weight: 900;
    color: black;
}
#workcontent1{
    color: grey;
}
#work2{
    font-weight: 900;
    color: black;
}
#workcontent2{
    color: grey;
}
#contactspan{
    font-weight: 900;
    color: black;
}
#contactemail{
    color: gray;
    text-align: center;
    
}